<div class="text-justify">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
  <br>

  <p>
    Graduated in:
    <br>• Systems Analysis and Development
    <br>• Bachelor of Information Systems
    <br>• MBA in Software Engineering
  </p>

  <p>
    I have five years of professional experience in software development.
    <br>
    I went to a four-year exchange program in Australia (2014-2018), where I studied: 
    <br>• General English and IELTS Preparation (Cass Training International College)
    <br>• Software Development (Holmes Institute)
    <br>• Project Management (Greenwich College)
  </p>
  <br>
  <p>
    Experience and knowledge in the following technologies:
    <br>• Architecture and Patterns: OOP, Design Patterns, Domain-Driven Design (DDD), and Test-Driven Development (TDD).
    <br>• Front-End: React, HTML, Bootstrap, JQuery, ES6.
    <br>• Development: Ruby on Rails, .NET Core, .NET Framework, C#, ASP.NET MVC, Web API, Dapper, and Entity Framework.
    <br>• Database: MS SQL Server, MySQL, Oracle, PL/SQL, and MongoDB.
    <br>• Code versioning: GIT and TFVC.
    <br>• Automation: Selenium.
    <br>• Continuous integration: Jenkins.
    <br>• Agile Methodology: Scrum and Kanban.
  </p>
</div>
