<div class="text-justify">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
  <br>

  <p>
    • Graduated in Systems Analysis and Development from FIAP.
    <br>• Studying: MBA in Software Engineering at FIAP and Bachelor of Information Systems at FMU.
  </p>

  <p>
    I have three years of professional experience in software development.
    <br>
    I went to a four-year exchange program in Australia (2014-2018), where I studied: 
    <br>• General English and IELTS Preparation (Cass Training International College)
    <br>• Software Development (Holmes Institute)
    <br>• Project Management (Greenwich College)
  </p>
  <br>
  <p>
    Experience and knowledge in the following technologies:
    <br>• Architecture and Patterns: OOP, Design Patterns, Domain-Driven Design (DDD) and Test-Driven Development (TDD).
    <br>• Front-End: React, HTML, Bootstrap, JQuery, ES6.
    <br>• Development: Ruby on Rails, C #, ASP.NET MVC, Web API, Entity Framework, Java (JSE, JEE, JME) and Microsoft Dynamics CRM.
    <br>• Database: MS SQL Server, MySQL, Oracle, PL / SQL, MongoDB, and Redis.
    <br>• Versioning of code: GIT and TFVC.
    <br>• Automation: Selenium.
    <br>• Continuous integration: Jenkins.
    <br>• Agile Methodology: Scrum and Kanban.
  </p>
</div>
