<div class="text-justify">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
  <br>

  <p>
    With over 8 years of experience in software development, I am a passionate technology professional with a solid educational background and international experience. My journey includes a degree in <strong>Systems Analysis and Development</strong> and a <strong>Bachelor’s in Information Systems</strong>, complemented by an <strong>MBA in Software Engineering</strong>.
  </p>
  <br/>
  <p>
    For four years (2014-2018), I lived in Australia, where I improved my English, earned certifications in <strong>Software Development</strong> and <strong>Project Management</strong>, and achieved a high score on the IELTS exam. This international experience provided me with a global perspective and intercultural skills, essential for working in diverse and dynamic environments.
  </p>
  <br/>
  <p>
    <b>Technical Expertise</b>
    <br/>• <b>Software Architecture and Development:</b> Proficient in practices such as OOP, Design Patterns, Domain-Driven Design (DDD), and Test-Driven Development (TDD), applied to create scalable and high-performance solutions.
    <br/>• <b>Front-End Development:</b> Experience building responsive and dynamic interfaces with React, PHP, and AngularJS.
    <br/>• <b>Back-End Development:</b> Expertise in Java with Spring Boot, Ruby on Rails, .NET Core, .NET Framework, C#, ASP.NET MVC, Web API, Dapper, and Entity Framework, with a focus on robust APIs and efficient integrations.
    <br/>• <b>Database Management:</b> Advanced knowledge of MS SQL Server, MySQL, Oracle, PL/SQL, and MongoDB, ensuring data modelling and optimisation for diverse needs.
    <br/>• <b>Tools and Best Practices:</b> Version control (GIT, TFVC), test automation (Selenium), continuous integration (Jenkins), and agile methodologies (Scrum and Kanban), always aiming for quality and continuous delivery.
  </p>
  <br/>
  <p>
    <b>Key Differentiators</b>
    <br/>• International experience and fluency in English.
    <br/>• Strategic vision combined with strong technical skills.
    <br/>• Leadership and project management capabilities, with a focus on high-quality deliverables.
  </p>
  <br/>
  <p>
    I am always seeking new challenges that allow me to contribute to the success of teams and projects, applying my expertise in software development and my passion for innovative technological solutions.
  </p>

</div>
